@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #756b6f, #574f54, hsl(330, 2%, 23%));
  background-attachment: fixed;


  
}


