@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  
  
  /* margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #da87a8, #8edb9b, hsl(330, 2%, 23%));
  background-attachment: fixed; */


  
}


